@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

.Result {
  padding: 4.8rem 0;
  background-color: #0f3850;
}

.empty {
  height: 60vh;
  margin: -4.8rem 0;
  background-color: white;
}

.Result h2 {
  font-family: 'Lora', serif;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 4.8rem;
  margin: 0 auto;
  max-width: 70rem;
  padding: 4.8rem 6.4rem 0;
  background-color: white;
}

.Result p {
  font-size: 1.8rem;
  padding: 3.2rem 4.8rem;
  margin: 0 auto;
  max-width: 70rem;
  background-color: white;
}

.Result ol {
  padding: 2.4rem 4.8rem 4.8rem;
  margin: 0 auto;
  max-width: 70rem;
  background-color: white;
  list-style: none;
}

.Result li {
  margin-bottom: 1.6rem;
  margin-left: 3.2rem;
  font-size: 1.8rem;
  line-height: 1.6;
}

/* 1200 */
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/* 900 */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50;
  }
}

/* 600 */
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
  .Result {
    padding: 0rem;
  }
  .Result ol {
    padding: 2.4rem 2.4rem 4.8rem;
  }
  .empty {
    margin: 0;
  }
  .Result h2 {
    padding: 4.8rem 4rem 0;
  }
}
