.Top {
  border-bottom: 0.7rem solid #d5d5d5;
}

.Top-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.2rem;
}

.Top-1 img {
  width: 3.2rem;
  display: inline;
}

.Top-1 h1 {
  font-size: 2.4rem;
  font-weight: 500;
}

.Top-2 {
  margin: 2.4rem 0 4.8rem;
}

.Top-2 form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 76.8rem;
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
}

.Top-2 input {
  width: 100%;
  border-radius: 3px 0 0 3px;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-family: inherit;
  max-width: 90rem;
  border: none;
  text-transform: capitalize;
}

.Top-2 input:focus {
  outline: none;
}

.Top-2 button {
  border-radius: 0 3px 3px 0;
  border: none;
  width: 5.3rem;
  height: 5.3rem;
  background-color: #e7e7e7;
}

.Top-2 button:hover {
  cursor: pointer;
}

.Top-search img {
  background-color: #e7e7e7;
}
